# Pubchem

In [ ]:
import time
import requests
import pandas as pd
from rdkit import Chem
impot numpy as np

## Try 1

In [29]:
def get_pubchem_cid(name):
    url = 'https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/{}/cids/json'.format( name )
    json_pubchem = requests.get(url, timeout=120).json()
    if "IdentifierList" in json_pubchem:
        cid = {"cid":[json_pubchem['IdentifierList']["CID"][0]]}
        data = pd.DataFrame(cid)
    else:
        data = pd.DataFrame({'cid' : []})
        data['cid'] = '' 
    return data

In [52]:
#name_list = pd.read_csv("data.csv")
#name_list = name_list['Name']
name_list = ["aspirin", "asdf"]
list_cids = []
for name in name_list:
    data = get_pubchem_cid(name)
    list_cids.append( data.cid )

In [53]:
data['test'] = list_cids

## Try 2 - correct

In [68]:
def get_pubchem_cid(name):
    url = 'https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/{}/cids/json'.format( name )
    json_pubchem = requests.get(url, timeout=120).json()
    if "IdentifierList" in json_pubchem:
        cid = json_pubchem['IdentifierList']["CID"][0]
    else:
        cid = np.nan 
    return cid

In [73]:
name_list = ["aspirin", "asdf", "1-BROMO-2-FLUORO-4-PROPYLBENZENE", "4-NONYL-N-[4-(4-NONYLBENZAMIDO)-9,10-DIOXO-9,10-DIHYDROANTHRACEN-1-YL]BENZAMIDE"]
list_cids = []
for name in name_list:
    data = get_pubchem_cid(name)
    list_cids.append( data )

In [74]:
data = pd.DataFrame(list_cids, columns=["cid"])

From csv

In [82]:
df = pd.read_csv("data.csv")
name_list = df["Name"]

In [80]:
list_cids = []
for name in name_list:
    data = get_pubchem_cid(name)
    list_cids.append( data )

In [81]:
data = pd.DataFrame(list_cids, columns=["cid"])
data

         cid
0    4286314
1
2       7113
3
4     100122
5
6    3976437
7
8
9    2063335
10
11
12      1995
13
14
15
16
17   3877121
18
19
20
21
22
23
24
25
26
27
28
29
30  18558534
31
32  17220178
33    721087
34
35
36
37    759394
38
39

# Chembl

In [ ]:
# Needs installation of
#!pip install chembl_webresource_client

Pref_name

In [99]:
from chembl_webresource_client.new_client import new_client

molecule = new_client.molecule
mols = molecule.filter(pref_name__iexact='aspirin').only('molecule_chembl_id')
mols

[{'molecule_chembl_id': 'CHEMBL25'}]

## Try 1

In [193]:
def get_chembl_id(name):
    molecule = new_client.molecule
    mols = molecule.filter(pref_name__iexact=name).only('molecule_chembl_id')
    return mols

In [194]:
name_list = ["aspirin", "asdf", "1-BROMO-2-FLUORO-4-PROPYLBENZENE", "4-NONYL-N-[4-(4-NONYLBENZAMIDO)-9,10-DIOXO-9,10-DIHYDROANTHRACEN-1-YL]BENZAMIDE"]
list_cids = []
for name in name_list:
    data = get_chembl_id(name)
    list_cids.append( data )

In [195]:
list_cids

[[{'molecule_chembl_id': 'CHEMBL25'}], [], [], []]

In [196]:
import numpy as np
mols = []
for mol in list_cids:
    if not mol:
        mols.append(np.nan)
    else:
        for id in mol:
            for item in id:
                mols.append(id[item])

In [197]:
chembl_ids = pd.DataFrame(mols,columns=["chembl_id"])
chembl_ids

  chembl_id
0  CHEMBL25
1       NaN
2       NaN
3       NaN